*{
    margin: 0;
    padding: 0;
    font-family: fantasy;
}
.bar{
    background: #383838;
    display: flex;
    border-bottom: 2px solid #f49610;
    
}

.bartang{
    background: #444343;
    height: 100%;
    width: 22%;
    text-align: center;
    margin-bottom: 0px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
}

.bar img{
    margin-left: 4%;
}

.bar h2{
    color: white;
    margin-left: 25%;
    margin-top: 3%;
    font-size: 65px;
    text-shadow:  0 15px 25px rgba(0, 0, 0, .5);
}
.bartang img{
    margin-top: 15%;
}

.bartang h1{
    color: white;
    font-size: 16px;
}

.bartang button{
    margin-top: 100%;
    margin-bottom: 17%;
    color: #444343;
    background:#ffa82e;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    border:1px solid #ffa82e;
    font-size: 18px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
}
